body {
    background-image: url('../images/weather.jpg')
}

#u-inp-city {
    position: absolute;
    left: 150px;
    top: 100px;
    width: 200px;
    padding: 15px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
}

.local-info {
    position: absolute;
    right: 100px;
    top: 130px;
    color: #fff;
    font-size: 20px;
}

#time {
    margin-top: 10px;
    letter-spacing: 2px;
}

.weather {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-color: rgba(200, 200, 192, 0.7);
}

#today {
    width: 30%;
    height: 150px;
    position: absolute;
    top: 25px;
    text-align: center;
    padding: 15px;
}

#t-info, #t-img-wind {
    display: inline-block;
}

#t-info {
    margin-right: 30px;
    color: #a5a4a4;
}

#t-img-wind img {
    width: 80px;
    height: 80px;
}

#t-temp {
    line-height: 80px;
    height: 80px;
    font-size: 50px;
}

#future {
    position: absolute;
    left: 35%;
    right: 0;
    width: 65%;
    height: 200px;
    display: table;
    text-align: center;
}

.f-forecast {
    display: table-cell;
    vertical-align: middle;
}

.f-img {
    width: 50px;
    height: 50px;
}

.f-date {
    margin-bottom: 10px;
}